* {
  /* border-top: 10px solid #1098ad; */
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #444;
  border-top: 10px solid #1098ad;
}
.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 50px;
}
article {
  margin-bottom: 60px;
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
}
.post-header {
  margin-bottom: 30px;
}
h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 36px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
ol,
ul {
  margin-left: 50px;
  margin-bottom: 15px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}
li:last-child {
  margin-bottom: 0;
}

p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 15px;
}

/* footer p {
  font-size: 18px;
} */
#copyright {
  font-size: 18px;
}

/* article header p {
  font-style: italic;
} */
#author {
  font-style: italic;
}

.related-author {
  font-weight: bold;
  font-size: 18px;
}

.related {
  list-style-type: none;
}

/* li:first-child {
  font-weight: bold;
} */
li:nth-child(1) {
  font-weight: bold;
}

/* li:last-child {
  font-style: italic;
} */

/* li:nth-child(odd) {
  color: green;
} */

/* li:nth-child(even) {
  color: red;
} */

/* Styling links */
a {
  color: red;
}

a:link {
  color: #1098ad;
}

a:visited {
  color: #1098ad;
}

a:hover {
  text-decoration: underline #444;
  color: #444;
}

a:active {
  color: red;
}
